.mail{
    text-decoration: none;
    
}


.bg-danger, .btn-danger{
    background-color: #ec2267;
}

.rose{
    color: #ec2267
}
.juriste, .animatrice, .developpement, .sport, .stage{
   
    font-size: 2rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    transition-property: transform 400ms;
}

.juriste:hover
 {
    transform: scale(1.5);
    color: aqua; 
} 

.animatrice:hover{
    transform: scale(1.5);
    color: greenyellow;
}

 .developpement:hover{
    transform: scale(1.5);
    color: red;
 } 

.sport:hover{
    transform: scale(1.5);
    color: blueviolet;
}

 .stage:hover{
    transform: scale(2);
    color: rgb(255, 179, 0)
 }


.card{
    border: none;
    margin: 10px;
    width: 300px;
}

.container-card{
    display: flex;
    align-items: center;
    
}

.card-text{
    height: 260px;
}

.img-card{
    width: 100%;
    height: 150px;
    object-fit: cover;
}




.presentation{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
}

.d-flex, .row {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    
}



.competences-acquises {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .balise {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .nom-balise {
    display: block;
    width: min-content;
    font-size: 1rem;
    text-align: center;
      }
  
  .nom-balise span {
    font-weight: normal;
  }

.competences-na{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}


@media screen and (max-width: 360px) {
    img {
        display: none;
    }

    .image{
        display: none;
    }
}